In [2]:
import pandas as pd

# Load the CSV
df = pd.read_csv('../data/sample_bank_statement.csv', parse_dates=['Date'])

# Preview first 5 rows
df.head()

        Date       Description  Amount
0 2024-06-01   Amazon Purchase   -1200
1 2024-06-01            Salary   30000
2 2024-06-02         Starbucks    -250
3 2024-06-03  Electricity Bill    -900
4 2024-06-04              Rent  -12000

In [3]:
# Define a function to categorize based on description
def categorize(description):
    description = description.lower()
    if any(keyword in description for keyword in ['salary', 'freelance']):
        return 'Income'
    elif any(keyword in description for keyword in ['zomato', 'starbucks', 'food']):
        return 'Food & Drink'
    elif any(keyword in description for keyword in ['amazon', 'shopping']):
        return 'Shopping'
    elif any(keyword in description for keyword in ['rent']):
        return 'Housing'
    elif any(keyword in description for keyword in ['electricity', 'internet']):
        return 'Utilities'
    elif any(keyword in description for keyword in ['petrol', 'fuel']):
        return 'Transport'
    elif any(keyword in description for keyword in ['movie', 'entertainment']):
        return 'Entertainment'
    else:
        return 'Others'

# Apply the function
df['Category'] = df['Description'].apply(categorize)

# View categorized data
df[['Description', 'Amount', 'Category']]

         Description  Amount       Category
0    Amazon Purchase   -1200       Shopping
1             Salary   30000         Income
2          Starbucks    -250   Food & Drink
3   Electricity Bill    -900      Utilities
4               Rent  -12000        Housing
5             Zomato    -350   Food & Drink
6      Internet Bill    -800      Utilities
7  Freelance Payment    5000         Income
8             Petrol   -1000      Transport
9              Movie    -600  Entertainment